*, *::before, *::after {
    box-sizing: border-box;
}

html, body, ul, li, label, input {
    font-family: "lato";
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
}

/* || Visor de modulos */
.visor_modulos {
    display: flex;
    flex-direction: column;
    width: 9.5rem;
    height: 59rem;
    align-items: center;
    background-color: #506558;
}

.visor_modulos__header {
    background-color: #39533F;
    padding: 1.2rem;
}

.visor_modulos__header__image-logo img {
    width: 100%;
}

.visor_modulos__body ul {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
    width: 6rem;
    gap: 1.8rem;
}


.visor_modulos ul li {
    display: flex;
    border-bottom: 3px solid #506558;
    position: relative;
    height: 6.2rem;
    align-items: center;
    padding-bottom: 1rem;
}

.visor_modulos ul li:hover {
    border-bottom: 3px solid #CD6D0D;
}

.visor_modulos__header .visor_modulos__header__image-logo ul li {
    border-bottom: 0px;
}

.visor_modulos__header .visor_modulos__header__image-logo ul li:hover {
    border-bottom: 0px;
}

.visor_modulos ul li a span{
    display: flex;
    justify-content: center;
}

.visor_modulos__body .image-icon img {
    width: 80%;
}

/* || Formulario de GeoData */
.form-box {
    background-color: #EBE7E4;
    position: absolute;
    top: 3rem;
    left: 24rem;
    border-radius: 20px 20px 20px 20px;
    cursor: grabbing;
}

.form-box-geodata {
    height: 16rem;
    width: 15rem;
    display: none;
}

.form-box-busqueda {
    height: 16rem;
    width: 15rem;
    /* display: none; */
}

.form-box, .visor_modulos, .form-body__search ul li {
    list-style: none;
}

.form-header ul {
    display: flex;
    height: 4.4rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px 20px 0px 0px;
}

.form-header__search ul {
    color: whitesmoke;
    background-color: #CD6D0D;
}

.form-header__geodata ul {
    color: #CD6D0D;
    background-color: #37513D;;
}

.form-header ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
}

.form-box-geodata img, .form-box-busqueda img {
    width: 2rem;
}


.form-box .form-header ul li.form-header-search__icon {
    content: url("../Iconos/icon_agro.ico");
}

/* Deshabilitar hover sobre elemento <li> del header */
.form-box .form-header ul li.form-header__search {
    font-size: 1.5rem;
}


.form-header ul li.form-header__close_form {
    background-color: #213526;
    border-radius: 0.2rem;
}

/* Cerrar formulario */
.form-header ul li.form-header__close_form input[type="checkbox"]::before {
    content: "";
    width: 1.2rem;
    border: 0.16rem solid #516857;
    border-radius: 0.2rem;
    position: absolute;
    top: 0.65rem;
    left: 0.18rem;
    rotate: 45deg;
}

.form-header ul li.form-header__close_form input[type="checkbox"]::after {
    content: "";
    width: 1.2rem;
    border: 0.16rem solid #516857;
    border-radius: 0.2rem;
    position: absolute;
    top: 0.65rem;
    left: 0.18rem;
    rotate: -45deg;
}

.form-header ul li.form-header__close_form input {
    appearance: none;
}


/* Cuerpo del formulario (Tipo CheckBox) */
.form-body {
    background-color: #EBE7E4;
    border-radius: 0px 0px 20px 20px;
}

.form-body__geodata {
    display: flex;
    height: 16rem;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}


.form-body__search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 13rem;
}

.form-body__search ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 12rem;
    width: 12rem;
    position: relative;
}

.form-body__search ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.5rem;
}

.form-body__search ul li select {
    /* appearance: none; */
    color: #CD6D0D;
    font-size: 1rem;
    border: 0px;
    width: 100%;
    height: 100%;
    padding: 0 1rem 0 1rem;
    background-color: #F7F5F4;
}

form ul li.form-box__options-body__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    height: 2.6rem;
    border-radius: 0.4rem;
    background-color: #F7F5F4;
    position: relative;
    margin: 1rem 0 1rem 0;
    padding: 0 0.5rem 0 0.5rem;
}


form ul li.form-box__options-body__field label {
    font-size: 1rem;
    color: #CD6D0D;
}

/* || Estilos input del Formulario de GeoData (CheckBox) */
.form-box__options-body__field input[type="checkbox"] {
    appearance: none;
    background-color: #EBE7E4;
    margin: 0;
    font: inherit;
    width: 1.6em;
    height: 1.6em;
    border: 0.12em solid #516857;
    border-radius: 0.4rem;
    display: grid;
    place-content: center;    
}


.form-box__options-body__field input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    background-color: #CD6D0D;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #CD6D0D;
}
  
.form-box__options-body__field input[type="checkbox"]:checked::before {
    transform: scale(1);
}