/* *, *::before, *::after {box-sizing: border-box;} */

body{
    font-family: "lato";
    height: 100%;
    margin: 0;
    padding: 0;
}


.sidebar {
    height: 100%;
    width: 110px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #506558;
}


.sidebar .header {
    display: flex;
    /* padding: 10% 10%; */
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: #39533F;
    
}


.sidebar .image-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.sidebar .header label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.sidebar .image-logo img {
    display: flex;
    object-fit: cover;
    align-items: flex-start;
    width: 100%;
}

.image-logo input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* .tgl-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
} */
  
/* .tgl-btn:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}     */


/* .tgl {
	display: none;
  
	&,
    &:after,
    &:before,
        & *,
    & *:after,
    & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
        user-select: none;
            &:after,
        &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
} */


input:checked .menu {
    display: none;
}


.menu {
    width: 70%;
    /* display: none; */
}

.menu ul {
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: separate;
}


.menu ul li {
    border-bottom: 3px solid #506558;
    padding: 1px 1px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
}

    
.menu ul li:hover {
    border-bottom: 3px solid #CD6D0D;
}


.menu ul li img {
    width: 70%;
    padding-left: 18%;
    padding-right: 15%;
}


/* || Formulario de Busqueda */
.form-box {
    background-color: #EBE7E4;
    border-radius: 20px 20px 20px 20px;
}

.form-box-busqueda {
    max-height: 16rem;
    max-width: 15rem;
    margin-bottom: 3rem;
}

.form-box ul li {
    list-style: none;
}

.form-header {
    height: 70px;
    background-color: #CD6D0D;
    border-radius: 20px 20px 0px 0px;
}

.form-box .form-header ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 1.5rem;
    padding-top: 10%;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: content-box;
}

.form-box .form-header ul li.form-header__icon {
    color: white;
    margin-right: 0.5rem;
}

.form-box .form-header ul li.form-header__search {
    font-size: 1.5rem;
    margin-right: 1.3rem;
}


.form-box .form-header ul li.form-header__cross {
    height: 1.4rem;
    width: 1.4rem;
}

.form-header__cross-search {
    background-color: #39533F;
    box-sizing: border-box;
}


.form-box .form-header img {
    width: 30px;
}


/* || Formulario (select) de Busqueda */
.form-box .options-body {
    display: flex;
    box-sizing: border-box;
}


.form-box .options-body ul {
    margin-top: 12%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}


.options-body ul li {
    width: 100%;
    margin-bottom: 1rem;
}


.options-body ul li select {
    color: #CD6D0D;
    font-size: 1rem;
    border: 0px;
    width: 100%;
    height: 2.2rem;
    background-color: #F7F5F4;
}


/* || Formulario (CheckBox) de GeoData */
#geodata-header {
    background-color: #37513D;
}

.form-header__cross-geodata {
    background-color: #213526;
}

.close_form input[type="checkbox"] {
    appearance: none;
    background-color: #213526;
    margin: 0;
    font: inherit;
    width: 1.5em;
    height: 1.5em;
    /* border: 0.15em solid #516857; */
    border-radius: 0.2rem;
    /* transform: translateY(0.1rem); */
    display: grid;
    place-content: center;    
    position: absolute;
}


.close_form:before {
    position: relative;
    content: "";
    border-bottom: 2px solid white;
    right: 100px;
    width: 100%;
}

.form-box-geodata {
    max-height: 19.5rem;
    max-width: 15rem;
}


.form-box__options-body__field {
    display: flex;
    justify-content: space-between;
    background-color: #F7F5F4;
    height: 2.2rem;
}


#field-box {
    margin-right: 1rem;
}


.form-box__options-body__field label {
    font-size: 1.2rem;
    color: #CD6D0D;
    margin-left: 0.7rem;
    margin-top: 0.5rem;
}


/* || Estilos input del Formulario de GeoData (CheckBox) */
.form-box__options-body__field input[type="checkbox"] {
    appearance: none;
    background-color: #EBE7E4;
    margin: 0;
    font: inherit;
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid #516857;
    border-radius: 0.4rem;
    transform: translateY(0.3rem);
    display: grid;
    place-content: center;    
  }


.form-box__options-body__field input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    background-color: #CD6D0D;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #CD6D0D;
}
  
.form-box__options-body__field input[type="checkbox"]:checked::before {
    transform: scale(1);
}